:root {
    --black: #1E1E1E;
    --white: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    width: 15%;
    font: inherit;
    background-color: #1E1E1E;
    padding: 5px;
    color: #FFFFFF;
    font-size: 1.3rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* button {
    background-color: unset;
    border: unset;
} */

a {
    text-decoration: unset;
    color: unset;
}

#root,
#__next {
    isolation: isolate;
}
.flex-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
 header{
    width: 100vw;
 }
h1{
    margin: 20px 0 20px 0;
    text-align: center;
    font: 3rem sans-serif;
    font-weight: bold;
}
.start{
    border: #1E1E1E 1px solid;
    height: 20vh;
    aspect-ratio: 1/1;
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex; */
    background-image: url(./images/brief_monuments.webp);
    align-self: center;
}
.contentbtn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.content-btn{
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 100%;
    overflow: hidden; /* Masquer les éléments en dehors du conteneur */
}
/* .btn-hide .hide{
display: none;
} */

.contentCard{
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 50vh;
    gap: 5px;
}

.div-card{
    position: relative;
    outline: #1E1E1E solid 2px;
    width: 19%;
    height: 300px;
}
.div-card img{
    width: 100%;
    height:100% ;
    position: absolute;
}
.filter {
    filter: grayscale(100%);
  }
.output{
    width: 100vw;
    height: 30vh;
    color: #FFFFFF;
    background-color: #1E1E1E;
}